{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>天津理工大学图书推荐系统</title>
</head>
<body>
    <h1>输入学号进行推荐：</h1>
    <form action="/search-book" method="post">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Submit">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">@example.com</span>
        </div>
    </form>

    <h2> {{ data1 }} </h2>
    {% for book in borrow_list %}
    <p>{{ book }}</p>
    {% endfor %}

    <h3> {{ data2 }} </h3>

    {% for book1 in ans_list %}
    <p>{{ book1 }}</p>
    {% endfor %}
    <!--{{ return_ans }}-->
    <!--<form action="/search" method="get">-->
        <!--<input type="text" name="q">-->
        <!--<input type="submit" value="推荐">-->
    <!--</form>-->
</body>
</html>